.detalle-viaje {
  text-align: center;
  background-color: white;
}

.titulo {
  font-size: 20px;
  font-weight: bold;
}

.item {
  margin: 10px;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
