.header-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #d9176e;
}
.header-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "TAXI", "Roboto";
  background-color: #d9176e;
}
.title-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #d9176e;
}
.title-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "TAXI", "Roboto";
}
.title-text p,
.datetime-text p {
  margin: 5px 0 0 0;
}

.datetime-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
.datetime-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 20px;
  width: 100%;
}
.datetime-text {
  color: #d9176e;
  font-size: 20px;
  margin-bottom: 10px;
}

.message-container {
  width: 95%;
  padding: 10px 0;
}
.message-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-gps {
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
  margin: 0;
}
.message-diurno {
  padding: 5px;
  border-radius: 15px;
  color: #d9176e;
  font-weight: bold;
  margin: 0;
}

// container del centro donde aparece libre o el costo
.cost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border-radius: 10px;
  background-color: #252525;
  border: 5px solid red;
}
.cost-text {
  color: red;
  font-family: "DSDIGI", "Roboto";
}
.cost-center {
  padding: 0;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tarifa-number {
  text-align: left;
  justify-content: center;
  margin-right: 75px;
  font-size: 85px;
}
.costo-number {
  text-align: center;
  font-size: 85px;
}

.speed-container {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  width: 95%;
  font-weight: bold;
}
.speed-text {
  display: flex;
  float: left;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #d9176e;
}

.payment-container {
  width: 95%;
}
.payment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-label-left {
  margin: 20px;
  color: #d9176e;
  float: left;
  margin: 0;
  margin-right: auto;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
  padding: 5px;
}
.payment-label-right {
  margin: 20px;
  color: #d9176e;
  float: right;
  margin: 0;
  margin-left: auto;
  white-space: nowrap;
  padding-left: 10px;
  font-weight: bold;
  padding: 5px;
}

.button-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.ticket-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.ticket-detail {
  display: flex;
  justify-content: center;
  width: 70%;
  border: 3px dashed black;
}

.debug-button {
  margin: 0 0 0 20px;
}
.debug-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.coordinates-container {
  border: 2px solid red;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 85%;
}
.coordinates-text {
  width: 100%;
  color: #d9176e;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../../assets/fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: "TAXI";
  src: url("../../assets/fonts/TaxiDriver.ttf");
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #d9176e;
}
.radio-border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}
.radio-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.radio-group-inline {
  display: flex;
  flex-direction: column;
  border: 2px solid #d9176e;
  width: 95%;
}
.label-radio-title {
  font-weight: bold;
  font-size: large;
  padding: 5px;
  margin: 5px 0;
  width: 95%;
  background-color: #d9176e;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
}
.radio-text-selected {
  color: #d9176e; /* Cambiar el color del texto al seleccionar */
}
.radio-item ion-radio {
  margin-right: 5px; /* Ajusta el valor según tus preferencias */
}
.radio-item ion-label {
  margin-left: 5px; /* Ajusta el valor según tus preferencias */
}

.footer-main {
  display: flex;
  justify-content: space-evenly; /* Distribuye los elementos con espaciado alrededor */
  align-items: center; /* Centra los elementos verticalmente en el footer */
  padding: 10px;
  background-color: #d9176e;
  color: #fff;
}
ion-button {
  /* Agrega espaciado entre los botones, puedes ajustar el valor según tu preferencia */
  margin: 0 10px;
}
